.container {
    text-align: center;
    margin-top: 180px;
    background-color: rgb(231, 236, 236, 0.6);
    border-radius: 10px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 200px;
    padding: 10px;
    
}
body {
    background: linear-gradient(to right, #e40c0c, #1ed60e);
}
.counter {
    font-size: 48px;
    margin: 20px 0;
}
button {
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
}
#counter {
    color: black;
}
#increment {
    background-color: #4CAF50;
    color: black;
}
#decrement {
    background-color: #f44336;
    color: black;
}
#reset {
    background-color: #ff9810;
    color: black;
}
span {
    display: flex;
    width: 50px;
    text-align: center;
}
#increment:hover {
    background-color: #55a462;
}
#decrement:hover {
    background-color: #c94341;
}
#reset:hover {
    background-color: #d16a44;
}




